﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - baam</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toast/toast.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
    </script>
    <environment exclude="Development">
    <script type="text/javascript">
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.baam.tatar/";
        _paq.push(['setTrackerUrl', u+'mphp']);
        _paq.push(['setSiteId', '1']);
        _paq.push(['enableJSErrorTracking']); // we want plain JS errors from window.onerror
        _paq.push(['setUserId', @Json.Serialize(Context.User.GetUpn()) ]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'mjs'; s.parentNode.insertBefore(g,s);
      })();
      // and uncatched promise rejections
      window.addEventListener("unhandledrejection", event => {
        _paq.push(['trackEvent', 'JavaScript Errors', document.location + ":promise", event.reason]);
      });
      // try to work around the weird problem with cookies getting large
      // if they are above 4k in size - push an analytics event, clear them and reload the page
      if (document.cookie.length > 4096) {
        _paq.push(['trackEvent', 'Large Cookies', document.cookie]);
        _paq.push([function () { document.cookies = ""; document.location.reload(); }]);
      }
    </script>
    </environment>
    <!-- End Matomo Code -->
    @RenderSection("head", false)
</head>
<body>

<div id="body-container">
    <header class="mb-2">
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow">
            <a class="navbar-brand" asp-area="" asp-page="/Index">baam</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse" style="flex-grow: 100;">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AttendanceCheck">New session</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AttendanceSessions">Collected sessions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/ScanQrCode">Check in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/MobileApp">Mobile app</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Feedback">Feedback</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse p-2">
                Hello, @Context.User.GetUpn()
            </div>
            <div class="navbar-collapse collapse">
                <form method="POST" action="/SignOut">
                    <button type="submit" class="btn btn-outline-dark">Logout</button>
                </form>
            </div>
        </nav>
    </header>
    <main id="main-container" role="main" class="m-2">
            @RenderBody()
    </main>
    <footer class="border-top footer text-muted" style="display: none;">
        <div class="container text-center">
            &copy; baam - @Utils.GitHash
        </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="~/lib/toast/toast.js" asp-append-version="true"></script>
<script>
$.toastDefaults = {
    position: 'top-center', /** top-left/top-right/top-center/bottom-left/bottom-right/bottom-center - Where the toast will show up **/
    dismissible: true, /** true/false - If you want to show the button to dismiss the toast manually **/
    stackable: true, /** true/false - If you want the toasts to be stackable **/
    pauseDelayOnHover: true, /** true/false - If you want to pause the delay of toast when hovering over the toast **/
    style: {
        toast: '', /** Classes you want to apply separated my a space to each created toast element (.toast) **/
        info: '', /** Classes you want to apply separated my a space to modify the "info" type style  **/
        success: '', /** Classes you want to apply separated my a space to modify the "success" type style  **/
        warning: '', /** Classes you want to apply separated my a space to modify the "warning" type style  **/
        error: '', /** Classes you want to apply separated my a space to modify the "error" type style  **/
    }
};
const username = @Html.Raw(Json.Serialize(Context.User.GetUpn()));


var gOldOnError = window.onerror;

window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
  $.snack('error', errorMsg + " [" + lineNumber + "]", 10000);
  if (gOldOnError) return gOldOnError(errorMsg, url, lineNumber);
  return false;
}
</script>

<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
