.load-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.load-spinner div {
    position: absolute;
    width: 13.5%;
    height: 13.5%;
    background: #0366d6;
    border-radius: 50%;
    animation: load-spinner 1.2s linear infinite;
}
.load-spinner div:nth-child(1) {
    animation-delay: -0.0s;
    top: 6.25%;
    left: 43.25%;
}
.load-spinner div:nth-child(2) {
    animation-delay: -0.1s;
    top: 11.2071%;
    left: 24.75%;
}
.load-spinner div:nth-child(3) {
    animation-delay: -0.2s;
    top: 24.75%;
    left: 11.2071%;
}
.load-spinner div:nth-child(4) {
    animation-delay: -0.3s;
    top: 43.25%;
    left: 6.25%;
}
.load-spinner div:nth-child(5) {
    animation-delay: -0.4s;
    top: 61.75%;
    left: 11.2071%;
}
.load-spinner div:nth-child(6) {
    animation-delay: -0.5s;
    top: 75.2929%;
    left: 24.75%;
}
.load-spinner div:nth-child(7) {
    animation-delay: -0.6s;
    top: 80.25%;
    left: 43.25%;
}
.load-spinner div:nth-child(8) {
    animation-delay: -0.7s;
    top: 75.2929%;
    left: 61.75%;
}
.load-spinner div:nth-child(9) {
    animation-delay: -0.8s;
    top: 61.75%;
    left: 75.2929%;
}
.load-spinner div:nth-child(10) {
    animation-delay: -0.9s;
    top: 43.25%;
    left: 80.25%;
}
.load-spinner div:nth-child(11) {
    animation-delay: -1.0s;
    top: 24.75%;
    left: 75.2929%;
}
.load-spinner div:nth-child(12) {
    animation-delay: -1.1s;
    top: 11.2071%;
    left: 61.75%;
}
@keyframes load-spinner {
    0%, 20%, 80%, 100% {
        transform: scale(0.5556);
    }
    50% {
        transform: scale(1);
    }
}
