﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

body {
  position: absolute;
  height: 100%;
  width: 100%;
}

#body-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main-container {
  display: flex;
  flex: 1;
  min-height: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.table-rowlink > tbody > tr > td > a {
  display: block;
  text-decoration: none!important;
  color: #212529;
  padding: .75rem;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.student-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.student-list > li {
  display: flex;
  line-height: 2.2rem;
  padding-right: .8rem;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #0002;
  padding-left: .6rem;
}

.num-student-list > li {
  padding-left: 0;
}

.student-list > li:last-child {
  margin-bottom: -1px;
}

.num-student-list > li::before {
  display: inline-block;
  content: counter(list);
  counter-increment: list;
  width: 2.2rem;
  text-align: center;
  margin-right: .4rem;
  background: #0001;
}

.student-list-card {
  flex: 1;
  min-height: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
}

.add-student-group > .input-group-prepend > .input-group-text {
  border-top-left-radius: 0;
}

.add-student-group > .input-group-append > .btn {
  border-top-right-radius: 0;
}

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-bottom: none;
  inset: auto auto 100% 0 !important;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 24px;
}
