@page "{code}"
@model AttendanceSessionModel

@{
    ViewData["Title"] = "Attendance Session view";
}

<div class="modal fade" id="export_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document"><div class="modal-content">
		<form id="export_form" asp-page-handler="export" target="_blank" method="post">
			<input id="form_session_id" asp-for="ExportParams.SessionId" type="hidden" value="">
		
			<div class="modal-header">
				<h5 class="modal-title">Exporting attendance</h5>
			</div>
			<div class="modal-body">
				<div class="form-group">    
	                <label for="inp-exporttype">Export type:</label>
	                <select asp-for="ExportParams.ExportType" class="form-control" id="inp-exporttype">
	                  <option value="Moodle">Moodle CSV</option>
	                  <option value="Txt">Plain TXT</option>
	                  <option value="Raw">Raw CSV</option>
	                </select>
	            </div>
	            <div class="form-group" id="fg-attendancecondition">    
	                <label for="inp-attendancecondition">Presence condition:</label>
	                <select asp-for="ExportParams.AttendanceCondition" class="form-control" id="inp-attendancecondition">
	                  <option value="AtLeastOneStage">Was on at least one stage</option>
	                  <option value="AllStages">Was on all stages</option>
	                </select>
	            </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" id="btn-export" class="btn btn-primary">Export</button>
			</div>
		</form>
	</div></div>
</div>

<div class="container flex-column d-flex" style="flex: 1">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-session-name">Session Name</span>
        </div>
        <input id="inp-session-name" type="text" class="form-control" aria-label="Session Name" 
               aria-describedby="inputGroup-session-name" value="@Model.Session.Title">
        <div class="input-group-append">
            <button id="btn-save-session-name" class="btn btn-primary">Save Name</button>
        </div>
    </div>
    <div class="input-group mb-3">
        <button id="btn-delete" class="btn btn-outline-danger mr-1">Delete</button>
        <form action="/AddSessionStage/@Model.Session.SessionCode" method="POST">
            <button type="submit" id="btn-recheck" class="btn btn-outline-secondary mr-1"
                    disabled="@(Model.Session.StagesCompleted >= 10 ? "disabled" : null)">Follow-up check</button>
        </form>
        <button id="btn-download" class="btn btn-outline-primary mr-1">Export</button>
        <span class="ml-auto mt-auto mb-auto">Taken date: @Utils.ToUserTimeString(Model.Session.StartDate)</span>
    </div>


    <div class="card student-list-card">
        <ol id="student-list" class="student-list num-student-list"></ol>
    </div>
        
    <div class="input-group add-student-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-add-student">Add student</span>
        </div>
        <div class="flex-grow-1">
            <input id="inp-add-student" type="email" class="form-control" aria-label="Add student" aria-describedby="inputGroup-add-student">
        </div>
        <div class="input-group-append">
            <button id="btn-add-student" class="btn btn-success">Add</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/autocomplete.jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/api.js" asp-append-version="true"></script>

    <script>
$(document).ready(() =>
{
    const session_code = @Html.Raw(Json.Serialize(Model.Session.SessionCode));
    
    const inp_session_name = document.getElementById("inp-session-name");
    const btn_save_session_name = document.getElementById("btn-save-session-name");
    const inp_add_student = $("#inp-add-student");
    const btn_add_student = document.getElementById("btn-add-student");
    const btn_delete = document.getElementById("btn-delete");
    
    const student_list_renderer = new StudentListRenderer(session_code, $("#student-list"), update, {});
    
    async function update() {
        const t = await baam.AttendanceSession.get(session_code);
        student_list_renderer.update(t.attendanceMarks);
        inp_session_name.innerText = t.title;
    }
    
    function onBtnSaveSessionNameClick() {
        baam.AttendanceSession.update(session_code, {'title': inp_session_name.value})
            .then(() => $.snack('success', 'Saved successfully', 1000))
            .catch(t => $.snack('error', t, 2000));
    }
    
    function onInpSessionNameKeyUp(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            onBtnSaveSessionNameClick();
        }
    }
 
    async function addStudent(email) {
        email = email.trim();
        if (email === "") return false;

        let res = true;
        try {
            await baam.AttendanceSession.addStudent(session_code, email);
            $.snack('success', "Student added!", 1000);
        } catch (e) {
            res = false;
            $.snack('error', e, 2000);
        }
        await update();
        return res;
    }
    
    async function onBtnAddStudentClick() {
        await addStudent(inp_add_student.val());
    }
    
    function onInpAddStudentKeyUp(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            onBtnAddStudentClick();
        }
    }
    
    async function onBtnDeleteClick(e) {
        try {
            if (confirm("Do you really want to delete this attendance session?")) {
                await baam.AttendanceSession.remove(session_code);
                document.location = "/AttendanceSessions";
            }
        } catch (e) {
            $.snack('error', e, 2000);
        }
    }
    
    let number_of_stages = 0;
    
    function start_export(page_id, _number_of_stages) {
        $("#form_session_id").val(page_id);
        number_of_stages = _number_of_stages;
        $("#inp-exporttype").change();
        $("#export_modal").modal();
    }
    
    $("#inp-exporttype").change(function() {
        const val = $(this).val();
        $("#fg-attendancecondition").attr("hidden", number_of_stages === 1 || val === "Raw");
    });
    
    $("#btn-download").click(function () {
        const t = $(this);
        start_export(@Model.Session.Id, @Model.Session.StagesCompleted);
    });
    
    $("#btn-export").click(function () {
        $("#export_modal").modal('hide');
    });
    
    btn_save_session_name.addEventListener("click", onBtnSaveSessionNameClick);
    inp_session_name.addEventListener("keyup", onInpSessionNameKeyUp);
    btn_add_student.addEventListener("click", onBtnAddStudentClick);
    inp_add_student.keyup(onInpAddStudentKeyUp);
    btn_delete.addEventListener("click", onBtnDeleteClick);
    
    make_input_selectall(inp_session_name);
    
    inp_add_student.autocomplete({
            autoselect: false,
            tabAutocomplete: false,
            hint: false,
            clearOnSelected: true,
            debug: true,
        }, [
        {
            source: function (query, cb) {
                baam.Autocomplete(query).then(r => cb(r.reverse()), 
                 err => cb([]));
            },
            displayKey: x => x,
            templates: {
                suggestion: x => x, 
            },
            cache: false
        }
    ]).on('autocomplete:selected', function(event, suggestion, dataset, context) {
        addStudent(suggestion);
        baam.Autocomplete.onSelected(suggestion);
        console.log(event, suggestion, dataset, context);
    });
    
    update().catch(t => $.snack('error', t, 2000));
});
    </script>
}

