@page
@model AttendanceCheckModel

@{
    ViewData["Title"] = "Attendance Check";
}

<style type="text/css">
   #big-qrcode-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 10;
   }
   
   #big-qrcode {
        position: absolute;
   }
   
   #qrcode {
        flex: 1;
        cursor: pointer;
        min-height: 0;
   }
</style>


<div id="big-qrcode-wrap" style="display: none;"><div id="big-qrcode"></div></div>

<div class="p-2 flex-column d-flex" style="flex: 1;">
    <div class="d-flex justify-content-center">
        <span style="font-size: 1.7em;" class="p-1 mb-2">Scan at 
            <a href="/s">@($"{Request.Host}{Request.PathBase}{Url.Content("~/s")}")</a>
        </span>
    </div>
    <div id="qrcode"></div>
    <div class="d-flex justify-content-center">
        <span id="session_timer">00:00:00</span>
    </div>
</div>

<div id="controls" class="p-2 flex-column d-flex" style="flex: 1">
    <div class="input-group mb-3">
        <button id="btn-scrap" class="btn btn-outline-danger mr-1 running-only" disabled>Scrap</button>
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-session-name">Session Name</span>
        </div>
        <input id="inp-session-name" type="text" class="form-control running-only" 
               aria-label="Session Name" aria-describedby="inputGroup-session-name" disabled>
        <div class="input-group-append">
            <button id="btn-save-session-name" class="btn btn-primary running-only" disabled>Save Name</button>
        </div>
    </div>
    <div class="card student-list-card">
        <ol id="student-list" class="student-list num-student-list"></ol>
    </div>

    <div class="input-group add-student-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-add-student">Add student</span>
        </div>
        <div class="flex-grow-1">
            <input id="inp-add-student" type="email" class="form-control running-only" aria-label="Add student" aria-describedby="inputGroup-add-student">
        </div>
        <div class="input-group-append">
            <button id="btn-add-student" class="btn btn-success running-only" disabled>Add</button>
        </div>
    </div>
    
    <button id="finish-button" class="btn btn-lg btn-primary running-only" disabled>Save all & Finish!</button>
</div>

@section scripts {
    <script src="~/lib/qrcode_generator.js" asp-append-version="true"></script>
    <script src="~/lib/sha1.js" asp-append-version="true"></script>
    <script src="~/lib/autocomplete.jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/api.js" asp-append-version="true"></script>

    <script>
        function main() {
            let update_timer;
            let timer;
            
            let session_code;
            let secret_seed;
            
            let start_time;
            let code_interval;
            
            let current_qrcode;
            let mode = -1; // -1 - not running, 0 - small, 1 - big qrcode

            const jq_qrcode = $("#qrcode");
            const jq_big_qrcode = $("#big-qrcode");
            const jq_big_qrcode_wrap = $("#big-qrcode-wrap");

            const qrcode = new QRCode(QRCode.CorrectLevel.L);
            const qrcode_drawer = new svgDrawing(jq_qrcode[0]);
            const big_qrcode_drawer = new svgDrawing(jq_big_qrcode[0]);

            const session_timer = $("#session_timer");
            const inp_session_name = $("#inp-session-name");
            const inp_add_student = $("#inp-add-student");
            
            let student_list_renderer;
            
            function PreciseTimer(fn, start_time, duration) {
                const _this = this
                
                this.run = function() {
                    let delta = (new Date().getTime() - start_time) / duration;
                    fn(Math.round(delta));

                    delta = (new Date().getTime() - start_time) / duration;
                    delta -= Math.round(delta);
                    _this.timer = setTimeout(_this.run, (1 - delta) * duration);
                }
                
                this.stop = function() {
                    clearTimeout(_this.timer)
                }
            }
            
            function generateQRCode(session, secret_seed, index) {
                let hashData = [];
                for (let i = 0; i < secret_seed.length; i++){  
                    hashData.push(secret_seed.charCodeAt(i));
                }
                hashData.push((index >> 0) & 0xff);
                hashData.push((index >> 8) & 0xff);
                hashData.push((index >> 16) & 0xff);
                hashData.push((index >> 24) & 0xff);

                const hash = sha1.array(hashData).slice(0, 6);
                const code = b64URLencode(hash) + index.toString(36);

                const res = document.location.origin + "/s#" + session + "-" + code;

                return qrcode.makeCode(res);
            }

            function showQRCode(code) {
                (mode === 0 ? qrcode_drawer : big_qrcode_drawer).draw(code);
            }
            
            async function updateStudentList() {
                try {
                    const t = await baam.AttendanceSession.get(session_code);
                    student_list_renderer.update(t.attendanceMarks);
                    
                    if (student_list_renderer.empty()) {
                        $("#btn-scrap").text("Delete");
                    } else {
                        $("#btn-scrap").text("Scrap");
                    }
                } catch (e) {
                    $.snack('error', e, 2000);
                }
            }
            
            async function saveSessionName() {
                if (mode < 0) return;
                try {
                    await baam.AttendanceSession.update(session_code, {'title': inp_session_name.val()});
                    $.snack('success', 'Saved successfully', 1000);
                } catch (e) {
                    $.snack('error', e, 2000);
                }
            }
            
            async function addStudent(email) {
                if (mode < 0) return;
                email = email.trim();
                if (email === "") return false;

                let res = true;
                try {
                    await baam.AttendanceSession.addStudent(session_code, email);
                    $.snack('success', "Student added!", 1000);
                } catch (e) {
                    res = false;
                    $.snack('error', e, 2000);
                }
                await updateStudentList();
                return res;
            }
            
            function addStudentFromInput() {
                addStudent(inp_add_student.autocomplete('val')).then(function (res) {
                    if (res) inp_add_student.autocomplete('val', "");
                });
            }
            
            async function scrapSession() {
                if (mode < 0) return;
                
                try {
                    let action = student_list_renderer.empty() ? "delete" : "scrap";
                    
                    if (!confirm("Do you really want to " + action + " this attendance session?")) return;
                    if (mode < 0) return;
                    $(".running-only").attr("disabled", true);
                    update_timer.stop();
                    timer.stop();
                    mode = -1;
                    
                    await baam.AttendanceSession.remove(session_code);
                    if (action === "scrap")
                        document.location.reload();
                    else
                        document.location = "/";
                } catch (e) {
                    $.snack('error', e, 2000);
                }
            }
            
            function updateTime(t) {
                const h = ("0"+(t/60/60|0)).slice(-2);
                const m = ("0"+(t/60|0)%60).slice(-2);
                const s = ("0"+t%60).slice(-2);
                session_timer.text(h+":"+m+":"+s);
            }
            
            function update(index) {
                const time = new Date().getTime();
                const error = (index * code_interval - (time - start_time));
                console.log("Showing QR #" + index + "; error = " + error);
                
                if (Math.abs(error) >= code_interval) return;

                current_qrcode = generateQRCode(session_code, secret_seed, index);
                showQRCode(current_qrcode);
                updateStudentList();
            }
            
            async function start() {
                if (mode >= 0) return;
                try {
                    let resp = await baam.AttendanceSession.start();
                    
                    session_code = resp.sessionCode;
                    secret_seed = resp.attendanceSeed;
                    code_interval = resp.secretCodeIntervalMs;
                    
                    // FIXME: 
                    start_time = new Date().getTime() - resp.initialIteration * code_interval;
                    inp_session_name.val(resp.title).select().focus();

                    student_list_renderer = new StudentListRenderer(session_code, $("#student-list"),
                        updateStudentList, {});

                    update_timer = new PreciseTimer(update, start_time, code_interval);
                    timer = new PreciseTimer(updateTime, start_time, 1000);
                    mode = 0;
                    $(".running-only").attr("disabled", false);
                    update_timer.run();
                    timer.run();                    
                } catch (e) {
                    $.snack('error', e, 2000);
                }
            }
            
            async function stop() {
                if (mode < 0) return;
                $(".running-only").attr("disabled", true);
                timer.stop();

                await baam.AttendanceSession.update(session_code, {'title': inp_session_name.val()});
                mode = -1;
                await baam.AttendanceSession.stop(session_code);
                document.location = '/AttendanceSession/' + session_code;
            }
            
            function getCssOfDiv(e) {
                let r = e[0].getBoundingClientRect();
                return {
                   top: r.y, right: window.innerWidth - r.right,
                   bottom: window.innerHeight - r.bottom, left: r.x};
            }
            
            function upscale_qrcode() {
                if (mode < 0 || mode === 1) return;
                mode = 1;
                showQRCode(current_qrcode);
                jq_big_qrcode.css(getCssOfDiv(jq_qrcode));
                
                jq_big_qrcode_wrap.show();
                jq_big_qrcode.animate({top: 0, right: 0, bottom: 0, left: 0}, 150);
            }
            
            function downscale_qrcode() {
                if (mode < 0 || mode === 0) return;
                mode = 0;
                showQRCode(current_qrcode);
                jq_big_qrcode.animate(getCssOfDiv(jq_qrcode), 150, function() {
                    jq_big_qrcode_wrap.hide(); });
            }

            
            $("#finish-button").click(stop);
            $("#btn-save-session-name").click(saveSessionName);
            $("#btn-add-student").click(addStudentFromInput);
            $("#btn-scrap").click(scrapSession);
            jq_qrcode.click(upscale_qrcode);
            jq_big_qrcode_wrap.click(downscale_qrcode);

            inp_session_name.keyup(function (e) {
                if (e.keyCode !== 13) return;
                e.preventDefault();
                saveSessionName();
            });

            inp_add_student.keyup(function (e) {
                if (e.keyCode !== 13) return;
                e.preventDefault();
                addStudentFromInput();
            });
            
            $(document).keydown(function (e) {
                if (e.keyCode === 27) downscale_qrcode();
            });

            make_input_selectall(inp_session_name[0]);  // TODO: rewrite to jQuery
            
            inp_add_student.autocomplete({
                autoselect: false,
                tabAutocomplete: false,
                hint: false,
                clearOnSelected: true,
                debug: true,
            }, [
                {
                    source: function (query, cb) {
                        baam.Autocomplete(query).then(r => cb(r.reverse()), 
                         err => cb([]));
                    },
                    displayKey: x => x,
                    templates: {
                        suggestion: x => x, 
                    },
                    cache: false
                }
            ]).on('autocomplete:selected', function(event, suggestion, dataset, context) {
                addStudent(suggestion);
                baam.Autocomplete.onSelected(suggestion);
                console.log(event, suggestion, dataset, context);
            });
            
            start();
        }
       
        $(document).ready(main);
    </script>

}

