@page
@using baam.Model.Db
@model baam.Pages.AttendanceSessions

@{
    ViewData["Title"] = "Collected Attendance Sessions";
}

<style type="text/css">
	.btn-download > img, .btn-delete > img {
		display: block;
		margin: 0 auto;
		height: 1.5rem;
	}
	
	.table td {
		padding: 0;
	}
	
	.table > tbody > tr:hover {
		background-color: lightblue!important;
	}
</style>


<div class="modal fade" id="export_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document"><div class="modal-content">
		<form id="export_form" asp-page-handler="export" target="_blank" method="post">
			<input id="form_session_id" asp-for="ExportParams.SessionId" type="hidden" value="">
		
			<div class="modal-header">
				<h5 class="modal-title">Exporting attendance</h5>
			</div>
			<div class="modal-body">
				<div class="form-group">    
	                <label for="inp-exporttype">Export type:</label>
	                <select asp-for="ExportParams.ExportType" class="form-control" id="inp-exporttype">
	                  <option value="Moodle">Moodle CSV</option>
	                  <option value="Txt">Plain TXT</option>
	                  <option value="Raw">Raw CSV</option>
	                </select>
	            </div>
	            <div class="form-group" id="fg-attendancecondition">    
	                <label for="inp-attendancecondition">Presence condition:</label>
	                <select asp-for="ExportParams.AttendanceCondition" class="form-control" id="inp-attendancecondition">
	                  <option value="AtLeastOneStage">Was on at least one stage</option>
	                  <option value="AllStages">Was on all stages</option>
	                </select>
	            </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" id="btn-export" class="btn btn-primary">Export</button>
			</div>
		</form>
	</div></div>
</div>

<div class="container">
	<table class="table table-striped table-rowlink">
		<thead>
		<tr>
			<th>Date</th>
			<th>Title</th>
			<th>Number of people</th>
			<th class="text-center">Export</th>
			<th class="text-center">Delete</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model.Items)
		{
			var link = Url.Page("AttendanceSession", new {item.code});
			<tr>
				<td><a href="@link">@Utils.ToUserTimeString(item.date)</a></td>
				<td><a href="@link">@item.title</a></td>
				<td><a href="@link">@item.numberOfPeople</a></td>
				<td><a class="btn-download" href="#" data-id="@item.id" data-ns="@item.numberOfStages">
					<img src="~/img/download_icon.svg"/>
				</a></td>
				<td><a class="btn-delete" href="#" data-code="@item.code">
					<img src="~/img/delete_icon.svg"/>
				</a></td>
			</tr>
		}
		</tbody>
	</table>
</div>
@section scripts {
	<script src="~/js/api.js" asp-append-version="true"></script>
	<script>
		function main() {
			let number_of_stages = 0;
			
			function start_export(page_id, _number_of_stages) {
				$("#form_session_id").val(page_id);
				number_of_stages = _number_of_stages;
				$("#inp-exporttype").change();
				$("#export_modal").modal();
			}
			
			$("#inp-exporttype").change(function() {
				const val = $(this).val();
				$("#fg-attendancecondition").attr("hidden", number_of_stages === 1 || val === "Raw");
			});
			
			$(".btn-download").click(function () {
				const t = $(this);
				start_export(t.data("id"), t.data("ns"));
			});
			
			$("#btn-export").click(function () {
				$("#export_modal").modal('hide');
			});
			
			$(".btn-delete").click(async function () {
				try {
				const t = $(this);
					if (confirm("Do you really want to delete this attendance session?")) {
						await baam.AttendanceSession.remove(t.data("code"));
						document.location = "/AttendanceSessions";
					}
				} catch (e) {
					$.snack('error', e, 2000);
				}
			});
		}
		
		$(document).ready(main);
    </script>
}
