﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger">Whoops</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
    <p>
        Please, contact <a href="https://t.me/DCNick3">@@DCNick3</a> to investigate.
    </p>
</div>
