@page
@model baam.Pages.Feedback

@{
    ViewData["Title"] = "Feedback";
}
<style type="text/css">
footer {
    display: block !important;
}
</style>

<div class="container text-center">
    <p class="lead">Got something to say?</p>
    <p class="lead">Feel free to contact <a href="https://t.me/DCNick3">@@DCNick3</a></p>
</div>