﻿@page
@using baam.Helpers
@model IndexModel
@inject ChangelogHelper ChangelogHelper
@{
    ViewData["Title"] = "Home page";
}

<div class="container flex-column d-flex w-100">
    <div style="flex-grow: 1; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 3fr;">
        
        <h2 style="grid-column: 1/2; grid-row: 1/2; align-self: end; text-align: center;">Collect Attendance</h2>
        <h2 style="grid-column: 2/3; grid-row: 1/2; align-self: end; text-align: center;">Check-in</h2>

        <div style="grid-column: 1/2; grid-row: 2/3; align-self: start; text-align: center;">
            <div style="margin: 20px 0;" class="mx-auto">
                <p><a href="@Url.Page("AttendanceCheck")"><button class="btn-lg btn-primary">New Session</button></a></p>
                <p><a href="@Url.Page("AttendanceSessions")"><button class="btn btn-secondary">All Sessions</button></a></p>
            </div>
        </div>

        <div style="grid-column: 2/3; grid-row: 2/3; align-self: start; text-align: center;">
            <div style="margin: 20px 0;" class="mx-auto">
                <p><a href="@Url.Page("ScanQrCode")"><button class="btn-lg btn-primary">Scan QR</button></a></p>
            </div>
        </div>
    </div>
    
    <div class="text-justify mb-5 mx-auto">
        @Html.Raw(await ChangelogHelper.GetChangelogHtml())
    </div>
</div>

@section Scripts
{
    <script src="~/lib/iframeResizer.min.js" asp-append-version="true"></script>
    <script>
    $("#iframe-changelog").iFrameResize({});
    </script>
}
