@page "{code}"
@model baam.Pages.MarkedSuccessfully

@{
    ViewData["Title"] = "Attendance Marked Successfully";
}

<style>
    .student-list-element-self {
        background-color: #5cb85c !important;
        color: white !important;
    }
    
</style>

<div id="alert-container" class="container">
    
    <div class="text-center mb-3">
        <img style="width: 25%;" src="~/img/check.svg" alt=""/>
    </div>
    
    <div class="alert alert-success" role="alert">
        Successfully marked attendance for <b>@Model.Session.Title</b>!
    </div>

    <div class="card student-list-card mb-5">
        <ul id="student-list" class="student-list overflow-hidden"></ul>
    </div>
    
    <div class="text-center">
        <p class="lead">
            <img src="~/img/android_robot.svg" alt="Android Icon" style="height: 0.8em; margin-top: -0.3em; margin-right: 0.3em;">
            Come and try out our <a href="/MobileApp">native Android app</a>, it's good!
        </p>
    </div>
</div>

@section Scripts
{
    <script>
$(document).ready(() =>
{
    const session_code = @Html.Raw(Json.Serialize(Model.Session.SessionCode));
    const session_name = @Html.Raw(Json.Serialize(Model.Session.Title));
    const attendance = @Html.Raw(Json.Serialize(Model.AttendanceMarks));
            
    const student_list_renderer = new StudentListRenderer(session_code, $("#student-list"), undefined, {
        readonly: true,
        highlight_self: true,
        show_stages: false,
    });
    
    student_list_renderer.update(attendance);
});
    </script>
}

