﻿@page
@using baam.Helpers
@model MobileApp
@inject AndroidAppHelper AndroidAppHelper
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <p class="lead">We have a native android scanner app!</p>
    
    <p>It will make marking attendance a breeze:</p>
    <ul>
        <li>nearly instant start-up</li>
        <li>faster scanning</li>
        <li>zoom &amp; tap-to-focus for when you are far away</li>
        <li>a convenient shortcut on your homescreen</li>
    </ul>

    <p><a href="@await AndroidAppHelper.GetLatestReleaseUrl()"><button class="btn btn-success">Download app</button></a></p>
    <p>Source code is <a href="https://github.com/@AndroidAppHelper.RepoName">here</a>, if you are interested</p>
</div>
