@page
@model ScanQrCodeModel

@{
    ViewData["Title"] = "Attendance Check";
}

@section head {
    <link rel="stylesheet" type="text/css" href="~/lib/load-spinner.css">
}

<style type="text/css">
#status-msg {
    display: flex;
    flex: 1;
    justify-content: center;
}

#qr-container-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#scan-qr-text {
    font-size: 1rem;
    margin: 0.4rem auto 1rem;
}

#qr-container {
    display: flex;
    flex: 1;
    min-height: 0;
}

#qr-video-box {
    width: 100%;
    position: relative;
}

#qr-video-box video {
    height: 100%;
    width: 100%;
    display: block;
}

#qr-overlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.qr-overlay-mask {
    background-color: #0008;
}

.qr-overlay-mcol {
    display: flex;
    flex-direction: column;
}

.qr-overlay-center {
    border: white 1px solid;
}

#camera-switch-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 6rem;
    padding: 1rem;
    z-index: 1;
}

#overlay-mask {
    display: flex;
    flex: 1;
}

</style>

<div id="status-msg" class="mt-3">
    <div id="msg-loading">
        <div class="d-flex justify-content-center">
            <div class="load-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <p id="msg-loading-text" class="text-center">Loading webpage...</p>
    </div>
    <div id="msg-unsupported" class="d-none">⚠️ Your browser does not support cameras. Please open this site in a different browser ⚠️</div>
    <div id="msg-no-camera" class="d-none">⚠️ We cannot find any camera. Do you have it? ⚠️</div>
    <div id="msg-unable-to-run" class="d-none">
        <h3>⚠️ Unable to access camera ⚠️</h3>
        <p>Please try the following actions:</p>
        <ul>
            <li>Try reloading the page
            <li>Make sure that you gave browser permission to access your camera (if it didn't ask, use different browser, yours probably does not support camera)
            <li>Try opening this page in a different browser (<a href="https://firefox.com">Firefox</a> or Chrome should work)
        </ul>
        <p>If nothing works, please contact to <a href="https://t.me/DCNick3">@@DCNick3</a> for further troubleshooting
    </div>
</div>

<div id="qr-container-wrap" style="display: none">
    <p id="scan-qr-text">Scan the QR to get an attendance mark</p>
    <div id="qr-container">
        <div id="qr-video-box">
            <div id="qr-overlay">
                <img src="~/img/camera_switch.svg" id="camera-switch-btn" style="display: none">
                <div id="overlay-mask">
                    <div></div>
                    <div class="qr-overlay-mcol">
                        <div></div>
                        <div class="qr-overlay-center"></div>
                        <div></div>
                    </div>
                    <div></div>
                </div>
            </div>
            <video id="qr-video" autoplay playsinline></video>
            <canvas id="qr-canvas" hidden></canvas>
        </div>
    </div>
</div>

<script src="~/lib/pqrs/pqrs-js.js" asp-append-version="true"></script>
<script src="~/js/api.js" asp-append-version="true"></script>
<script src="~/lib/camera.js" asp-append-version="true"></script>

@section scripts {
    <script>
    class QRVideoBox {
        
        constructor(jq_vieo_box, jq_mask) {
            this.parent_h = 0;
            this.parent_w = 0;
            this.video_h = 0;
            this.video_w = 0;
            this.crop_h = 0;
            this.crop_w = 0;
            this.crop_target_h = 800;
            this.crop_target_w = 800;
            this.parent_el = jq_vieo_box.parent()[0];
            this.jq_el = jq_vieo_box;
            
            this.col_b = jq_mask.children().even().addClass("qr-overlay-mask");
            this.col_m = jq_mask.children().odd();
            this.row_b = this.col_m.children().even().addClass("qr-overlay-mask");
            this.row_m = this.col_m.children().odd();
        }
        
        update() {
            const r = this.parent_el.getBoundingClientRect();
            if (r.width === this.parent_w && r.height === this.parent_h) return;
            this.parent_w = r.width;
            this.parent_h = r.height;

            const kw = r.width / this.video_w;
            const kh = r.height / this.video_h;
            let k = kw < kh ? kw : kh;
            if (k > 1) k = 1;
            const dx = r.width - this.video_w * k;
            const dy = r.height - this.video_h * k;
            this.jq_el.css({margin: `${dy/2}px ${dx/2}px`});
        }
        
        _update_crop() {
            this.crop_w = this.crop_target_w < this.video_w ? this.crop_target_w : this.video_w;
            this.crop_h = this.crop_target_h < this.video_h ? this.crop_target_h : this.video_h;
            
            this.col_b.css({"flex-grow": (this.video_w - this.crop_w) / 2});
            this.col_m.css({"flex-grow": this.crop_w});
            
            this.row_b.css({"flex-grow": (this.video_h - this.crop_h) / 2});
            this.row_m.css({"flex-grow": this.crop_h});
        }

        set_video_size(height, width) {
            if (height === this.video_h && width === this.video_w) return;
            this.video_h = height;
            this.video_w = width;
            this.update();
            this._update_crop();
        }
    }
    
    class Mode {
        // unsupported=-4, no-camera=-3, unable-to-run=-2, loading=-1, open_loading=0, playing=1
        // loading - show loading screen
        // open_loading - camera already open, but still loading 
        constructor(status_wrap, video_container) {
            this.mode = undefined;
            this.status_wrap = status_wrap;
            this.status_msgs = status_wrap.children();
            const num2el = [];
            ["#msg-loading", "#msg-loading", "#msg-unable-to-run", "#msg-no-camera", "#msg-unsupported"].forEach(
                x => num2el.push(status_wrap.children(x)))
            this.num2el = num2el;
            this.video_container = video_container;
        }
        
        set(m) {
            if (this.mode === m) return;
            this.mode = m;
            
            if (m === 1) {
                this.status_wrap.hide();
                this.video_container.show();
            }
            
            if (m <= 0) {
                this.video_container.hide();
                this.status_msgs.addClass("d-none");
                const msg_block = this.num2el[-m];
                msg_block.removeClass("d-none");
                if (m === -1)
                    msg_block.find("#msg-loading-text").html("Loading camera...");
                else if (m === 0)
                    msg_block.find("#msg-loading-text").html("Opening camera...");
                this.status_wrap.show();
            }
        }
    }
    
    function Timer(fn, duration) {
        const _this = this;
        let next_time = 0;
        let is_running = false; 
        
        async function worker() {
            if (!is_running) return;
            await fn();
            if (!is_running) return;

            _this.next_time += duration;
            let ctime = new Date().getTime();
            if (ctime > _this.next_time)
                _this.next_time = ctime + 1;

            _this.timer = setTimeout(worker, _this.next_time - ctime);
        }
        
        this.run = function() {
            if (is_running) return;
            is_running = true;
            _this.next_time = new Date().getTime() + duration;
           _this.timer = setTimeout(worker, duration);
        }
        
        this.stop = function() {
            if (!is_running) return;
            is_running = false;
            clearTimeout(_this.timer)
        }
    }

    async function main() {
        const mode = new Mode($("#status-msg"), $("#qr-container-wrap"));
        const camera = new Camera();
        mode.set(-1); // loading
        
        const video = $("#qr-video")[0];
        const canvasElement = $("#qr-canvas")[0];
        const canvasCtx = canvasElement.getContext("2d");
        const qrVideoBox = new QRVideoBox($("#qr-video-box"), $("#overlay-mask"));
        const switch_button = $("#camera-switch-btn");
        let last_open_cam_time = 0;

        const challengeRegex = /^[^#]+#([a-zA-Z0-9]+)-([a-zA-Z0-9+_]+)$/;

        const scanTimer = new Timer(tick, 500);
        let last_code = "";

        async function scanned(res) {
            if (res === last_code) return;
            last_code = res;
            
            const match = res.match(challengeRegex);
            
            if (match === null) {
                $.snack('warning', "QR Code is in wrong format", 1000);
                return;
            }

            try {
                const code = await baam.AttendanceSession.submitChallenge(match[1], match[2]);
                scanTimer.stop();
                mode.set(-1); // loading
                camera.close();
                document.location = '/MarkedSuccessfully/' + code;
            } catch (e) {
                $.snack('warning', "QR Code is unacceptable", 2000);
            }
        }

        function open_next_camera() {
            scanTimer.stop();
            mode.set(-1); // loading

            camera.open_next().then(function () {
                if (camera.number_of_devices === 0) {
                    mode.set(-3); // no-camera
                    return;
                }
                
                if (camera.stream === undefined)
                {
                    mode.set(-2); // unable-to-run
                    return;
                }

                if (camera.number_of_devices > 1)
                    switch_button.show()
                else
                    switch_button.hide()
            }).catch(function (e) {
                $.snack("error", e, 10000);
                mode.set(-2); // unable-to-run
            });
        }
        
        function animation() {
            requestAnimationFrame(animation);
            qrVideoBox.update()

            if (mode.mode < 0) return;

            if (video.readyState !== video.HAVE_ENOUGH_DATA) {
                if (new Date().getTime() - last_open_cam_time > 15000)
                {
                    $.snack("warning", "Failed to fetch image", 3000)
                    open_next_camera();
                }
            }
            else {
                if (mode.mode !== 1) {
                    mode.set(1); // playing
                    scanTimer.run();
                }
                qrVideoBox.set_video_size(video.videoHeight, video.videoWidth);
            }
        }

        async function tick() {
            const videoHeight = video.videoHeight;
            const videoWidth = video.videoWidth;

            qrVideoBox.set_video_size(videoHeight, videoWidth);
            // safari seems to not like
            // 1) autoplay. It wants us to call play manually
            // 2) .play being called too early. We should wait for HAVE_CURRENT_DATA state. This is why it is not called in camera.on("open")
            // safari, why are you gae?
            if (video.paused && video.readyState >= video.HAVE_CURRENT_DATA)            
                video.play();
            
            canvasElement.height = qrVideoBox.crop_h;
            canvasElement.width = qrVideoBox.crop_w;
            canvasCtx.drawImage(video,
                (videoWidth - canvasElement.width)/2|0, (videoHeight - canvasElement.height)/2|0, canvasElement.width, canvasElement.height,
                0, 0, canvasElement.width, canvasElement.height);
            const imageData = canvasCtx.getImageData(0, 0, canvasElement.width, canvasElement.height);
            
            const codes = await pqrs.scan_qr(imageData);

            for (let i = 0; i < codes.qrs.length; i++)
                await scanned(codes.qrs[i].content);
        }
        
        if (!camera.is_supported) {
            mode.set(-4); // unsupported
            return;
        }
        
        camera.on("open", function (stream) {
            console.log("Got camera. Showing it");
            last_open_cam_time = new Date().getTime();
            video.srcObject = stream;
            mode.set(0); // open_loading
        });
        
        camera.on("error", function (where, err) {
            console.log(where, err);
        });
        
        switch_button.click(open_next_camera);
        requestAnimationFrame(animation);
        
        open_next_camera();
    }
    
    $(document).ready(main);
</script>
}